## Data Cleaning

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/original/data.csv')

In [3]:
irrelevant_columns = [
    'Order',
    'PID',
    'Alley',
    'Low Qual Fin SF',
    'Enclosed Porch',
    '3Ssn Porch',
    'Pool Area',
    'Pool QC',
    'Misc Feature',
    'Misc Val',
    'Mo Sold',
    'Utilities',
    'Street',
    'Heating',
    'Land Slope',
    'Land Contour',
    'MS SubClass'
]

In [4]:
df.drop(columns=irrelevant_columns, inplace=True)

In [5]:
temp = (df.isna().sum()/len(df)*100).sort_values(ascending=False)
nan_cols = temp[temp>40].index.tolist()
nan_cols

['Fence', 'Mas Vnr Type', 'Fireplace Qu']

In [6]:
df.drop(columns=nan_cols, inplace=True)

In [7]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ms_zoning       2930 non-null   object
 1   lot_frontage    2440 non-null   float64
 2   lot_area        2930 non-null   int64
 3   lot_shape       2930 non-null   object
 4   lot_config      2930 non-null   object
 5   neighborhood    2930 non-null   object
 6   condition_1     2930 non-null   object
 7   condition_2     2930 non-null   object
 8   bldg_type       2930 non-null   object
 9   house_style     2930 non-null   object
 10  overall_qual    2930 non-null   int64
 11  overall_cond    2930 non-null   int64
 12  year_built      2930 non-null   int64
 13  year_remod/add  2930 non-null   int64
 14  roof_style      2930 non-null   object
 15  roof_matl       2930 non-null   object
 16  exterior_1st    2930 non-null   object
 17  exterior_2nd    2930 non-null   object
 18  mas_vnr_area    2907 non-null   float64
 19  exter_qual      2930 non-null   object
 20  exter_cond      2930 non-null   object
 21  foundation      2930 non-null   object
 22  bsmt_qual       2850 non-null   object
 23  bsmt_cond       2850 non-null   object
 24  bsmt_exposure   2847 non-null   object
 25  bsmtfin_type_1  2850 non-null   object
 26  bsmtfin_sf_1    2929 non-null   float64
 27  bsmtfin_type_2  2849 non-null   object
 28  bsmtfin_sf_2    2929 non-null   float64
 29  bsmt_unf_sf     2929 non-null   float64
 30  total_bsmt_sf   2929 non-null   float64
 31  heating_qc      2930 non-null   object
 32  central_air     2930 non-null   object
 33  electrical      2929 non-null   object
 34  1st_flr_sf      2930 non-null   int64
 35  2nd_flr_sf      2930 non-null   int64
 36  gr_liv_area     2930 non-null   int64
 37  bsmt_full_bath  2928 non-null   float64
 38  bsmt_half_bath  2928 non-null   float64
 39  full_bath       2930 non-null   int64
 40  half_bath       2930 non-null   int64
 41  bedroom_abvgr   2930 non-null   int64
 42  kitchen_abvgr   2930 non-null   int64
 43  kitchen_qual    2930 non-null   object
 44  totrms_abvgrd   2930 non-null   int64
 45  functional      2930 non-null   object
 46  fireplaces      2930 non-null   int64
 47  garage_type     2773 non-null   object
 48  garage_yr_blt   2771 non-null   float64
 49  garage_finish   2771 non-null   object
 50  garage_cars     2929 non-null   float64
 51  garage_area     2929 non-null   float64
 52  garage_qual     2771 non-null   object
 53  garage_cond     2771 non-null   object
 54  paved_drive     2930 non-null   object
 55  wood_deck_sf    2930 non-null   int64
 56  open_porch_sf   2930 non-null   int64
 57  screen_porch    2930 non-null   int64
 58  yr_sold         2930 non-null   int64
 59  sale_type       2930 non-null   object
 60  sale_condition  2930 non-null   object
 61  saleprice       2930 non-null   int64
dtypes: float64(11), int64(19), object(32)
memory usage: 1.4+ MB

### Refactor the type's of the columns

In [10]:
df[['1st_flr_sf', '2nd_flr_sf', 'gr_liv_area','wood_deck_sf', 'open_porch_sf', 'saleprice', 'lot_area']] = df[['1st_flr_sf', '2nd_flr_sf', 'gr_liv_area','wood_deck_sf', 'open_porch_sf', 'saleprice', 'lot_area']].astype('float')

In [11]:
df[['bsmt_full_bath', 'bsmt_half_bath', 'garage_cars', 'garage_yr_blt']]= df[['bsmt_full_bath', 'bsmt_half_bath', 'garage_cars', 'garage_yr_blt']].astype('Int64')

In [12]:
df.to_parquet('../data/processed/02_data_cleaned.parquet', index=False)